body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b12810; /* mcdonald there background */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    width: 20%; /* Set width for nav */
    float: left; /* Float to left */
}

main {
    width: 60%; /* Set width for main */
    float: left; /* Float to left */
}

aside {
    width: 20%; /* Set width for aside */
    float: left; /* Float to left */
    background-color: #f4f4f4;
    padding: 10px;
}

footer {
    clear: both; /* Clear floats*/
     background-color: #ffdc16; /*yellow for mcdonald contrast*/
        color: white;
    text-align: center;
    padding: 10px 0;
}

/* Basic styles for links */
nav a, footer a {
    color: white;
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}

/* Additional styles */
h2 {
    margin-top: 20px;
}
